body {
  background:#121212;
  color:white;
  font-family:Arial;
  margin:0;
}

header {
  background:#1db954;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

input {
  padding:10px;
  width:300px;
  border-radius:20px;
  border:none;
}

#results {
  padding:20px;
  display:grid;
  grid-template-columns:repeat(auto-fill,180px);
  gap:15px;
}

.player {
  position:fixed;
  bottom:0;
  width:100%;
  background:#181818;
  display:flex;
  gap:15px;
  padding:10px;
}
